<div id="index-page" style="margin-top:16px">
    <div class="row">
        <section class="col m8 l8 s12">
            <%- partial('../post-list',{page:page})%>
        </section>
        <section class="col m4 l4 right-side-bar-hide">
            <%- partial('../category-list.ejs') %>
            <%- partial('../tag-list.ejs') %>
        </section>
    </div>
</div>