<div id="post-page" style="margin-top:16px;">
    <div class="row">
        <section class="col m10 l10 s12 post-content">
            <%- page.content%>
        </section>
        <section class="col m2 l2 s12 right-side-bar-hide">
            <%-toc(page.content)%>
        </section>
    </div>
</div>